@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius&family=Delius+Swash+Caps&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
	max-width: 600px;
	margin: auto;
	background-color: #164059;
}

h1, h2, h3, h4, h5{
	 font-family: "Delius", cursive;
	 font-weight: 400;
	 font-style: normal;
}

h1 {
	color: #F2AF88;
}

table, th, td {
  border: 1px solid;
	color: cyan;
border-collapse: collapse;

}

table {
	width: 100%;
}


th, td {
  padding: 15px;
  text-align: center;
}

tr:hover {
background-color: #3285A6;
}

h4, h2 {
	color: #00ffa2;
}

p {
	color: #00e1ff;
 	font-family: "Roboto", serif;
 	font-weight: 400;
 	font-style: normal;

}

h3 {
	color: #56ACBF;
}

img {
	width: 49%;
}
.full-width {
	display: block;
	width: 90%;
	margin: auto;
}
a {
  color: #00ffa2;
}

a:hover {
	color: #00e1ff;
	text-decoration: none;
}


.small-block-left {
	display: inline-block;
	width: 35%;
	margin: 1;
}

li::marker {
  color: #00e1ff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline;
}
li {
  float: left;
}

nav a {
  display: block;
  padding: 8px;
  background-color: black;
}
ul {
  background-color: black;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
/* Add a gray right border to all list items, except the last item (last-child) */
li {
  border-right: 1px solid #bbb;
}

li:last-child {
  border-right: none;
}

